body{
    background-color: rgb(105, 201, 142);
}
.to-do-list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}
h1{
    font-size: 4rem;
    color: hsl(193, 65%, 24%);
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease ;
}
.add-button{
    background-color: hsl(125, 47%, 54%);
}
.add-button:hover{
    background-color: hsl(125, 47%, 42%);
}
.delete{
    background-color: hsl(10, 90%, 50%);
}
.delete:hover{
    background-color: hsl(10, 47%, 42%);
}
.move-button{
    background-color: hsl(207, 90%, 64%);
}
.move-button:hover{
    background-color: hsl(207, 47%, 52%);
}
input[type="text"]{
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid hsl(0, 0%,80%,0.5);
}
ol{
    padding: 0px;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 10px;
    border:  3px solid hsl(0, 0%,85%,0.75);
    background-color: hsl(0 ,0%, 97% );
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}
.delete,.move-button{
    padding: 2px 12px;
    font-size: 1.7rem;
    margin: 10px;
}